<html>
<title>Demo</title>
<body>
<div class="block" style="height: 99%;">
    <div class="centered">
        <h1>#46 Demo</h1>
        <p>Served by {{ ansible_hostname }} : {{ ansible_default_ipv4.address }}<p>
    </div>
</div>
</body>
</html>
